@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
:root {
  --darkBlue: #03045e;
  --darkBrown: #474306;
  --yellow: #f5ee84;
  --lightYellow: #fbf8cc;
  --ligherYellow: #f7f197;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--darkBlue);
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--lightYellow);
  padding: 0 150px;
  color: var(--darkBlue);
}

/* scroll bar */

body {
  --sb-track-color: #fbf8cc;
  --sb-thumb-color: #fbf8cc;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

header {
  height: auto;
  padding: 15px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header nav h3 {
  font-size: 24px;
  margin-right: 20px;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

header nav ul li {
  padding: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: 600;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: var(--yellow);
}

header nav .icons {
  display: flex;
  gap: 15px;
}

header nav .icons li a {
  font-size: 20px;
  color: var(--darkBlue);
  transition: color 0.3s ease;
}

header nav .icons li a:hover {
  color: var(--yellow);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  header nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header nav h3 {
    margin-right: 0;
    margin-bottom: 10px;
  }

  header nav ul {
    margin: 10px 0;
  }

  header nav ul li {
    padding: 0 10px;
  }

  header nav .icons {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  header nav ul li {
    padding: 5px 0;
  }
}

/* main */

main.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  gap: 40px;
}

main.home .description {
  flex: 1;
  max-width: 600px;
}

main.home .description span {
  display: inline-block;
  font-size: 15px;
  padding: 10px 0;
  font-weight: 700;
}

main.home .description h2 {
  line-height: 1.2;
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 20px;
}

main.home .description .welcome-paragraph {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
  color: var(--darkBrown);
}

main.home .description button {
  display: block;
  width: 100px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--yellow);
  color: var(--darkBrown);
  border: none;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main.home .description button:hover {
  background-color: var(--ligherYellow);
}

main.home .image {
  flex: 1;
  max-width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.home .image img {
  width: 100%;
  height: auto;
  max-width: 400px;
  object-fit: cover;
  border-radius: 50%;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  body {
    padding: 0 100px;
  }
}

@media screen and (max-width: 992px) {
  body {
    padding: 0 50px;
  }

  main.home {
    flex-direction: column;
    text-align: center;
  }

  main.home .description {
    max-width: 100%;
  }

  main.home .description h2 {
    font-size: 50px;
  }

  main.home .description button {
    margin: 20px auto 0;
  }

  main.home .image {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 30px;
  }

  main.home .description h2 {
    font-size: 40px;
  }

  main.home .image {
    max-width: 300px;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 0 20px;
  }

  main.home .description h2 {
    font-size: 32px;
  }

  main.home .description span,
  main.home .description .welcome-paragraph {
    font-size: 14px;
  }

  main.home .image {
    max-width: 250px;
  }
}
/* about */

main.work,
main.about {
  padding-top: 20px;
}

main.work h2,
main.about h2,
main.contact h2,
main.experience h2 {
  line-height: 80px;
  height: 80px;
  color: var(--ligherYellow);
  font-weight: 800;
  font-size: 50px;
  /**/
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

main.work p,
main.about p {
  width: 600px;
  margin-top: 10px;
  line-height: 25px;
  color: var(--darkBlue);
}

main.about ul {
  margin-left: 180px;
  margin-top: 20px;
}

main.about ul li {
  margin-bottom: 80px;
}

main.about .formation {
  margin-top: 30px;
}

/* work */
main.work {
  padding: 20px;
  background-color: var(--lightYellow);
}

main.work h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--darkBlue);
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

main.work .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

main.work .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

main.work .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

main.work .card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

main.work .card .info {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main.work .card .info h3 {
  font-size: 1.5rem;
  color: var(--darkBlue);
  margin-bottom: 1rem;
}

main.work .card .info p {
  font-size: 1rem;
  color: var(--darkBrown);
  line-height: 1.5;
  flex-grow: 1;
  width: 100%;
}

main.work .card .info .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

main.work .card .info .card-footer__links a:last-child {
  margin-left: 10px;
}
main.work .card .info .image-date {
  font-size: 0.9rem;
  color: #777;
}

main.work .card button {
  background-color: var(--yellow);
  border: none;
  color: var(--darkBrown);
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

main.work .card button:hover {
  background-color: var(--ligherYellow);
}

/* Responsive styles */
@media (max-width: 768px) {
  main.work h2 {
    font-size: 2rem;
  }

  main.work .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  main.work .card img {
    height: 180px;
  }

  main.work .card .info h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  main.work .cards {
    grid-template-columns: 1fr;
  }

  main.work .card img {
    height: 160px;
  }

  main.work .card .info h3 {
    font-size: 1.2rem;
  }

  main.work .card .info p {
    font-size: 0.9rem;
  }

  main.work .card button {
    font-size: 12px;
  }
}

/*contact*/

main.contact {
  padding: 20px;
}

main.contact .contact-info {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}

main.contact .contact-image {
  flex-shrink: 0;
  width: 300px;
  height: 200px;
}

main.contact .contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main.contact .contact-details {
  flex-grow: 1;
  max-width: 500px;
}

main.contact .contact-details p {
  line-height: 1.6;
  margin-bottom: 20px;
}

main.contact .contact-details ul {
  list-style: none;
  padding: 0;
}

main.contact .contact-details ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

main.contact .contact-details ul li a {
  text-decoration: none;
  color: #007bff;
}

main.contact .contact-details ul li a:hover {
  text-decoration: underline;
}

main.contact .contact-details ul li a svg,
main.contact .contact-details ul li svg {
  margin-right: 8px;
}

@media (max-width: 768px) {
  main.contact .contact-info {
    flex-direction: column;
    align-items: center;
  }

  main.contact .contact-image {
    width: 100%;
    height: auto;
  }

  main.contact .contact-details {
    width: 100%;
  }

  main.contact .contact-details p {
    text-align: center;
  }

  main.contact .contact-details ul {
    text-align: center;
  }
}

@media (max-width: 480px) {
  main.contact {
    padding: 10px;
  }

  main.contact .contact-details p {
    font-size: 14px;
  }

  main.contact .contact-details ul li a {
    font-size: 14px;
  }
}

/*experience*/
main.experience {
  padding: 20px;
}

main.experience h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.experience-item {
  margin-bottom: 20px;
}

.experience-item h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.experience-item span {
  display: block;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}

.experience-item ul {
  list-style: disc;
  padding-left: 20px;
}

.experience-item ul li {
  margin-bottom: 5px;
}

.experience-item ul li a {
  color: #007bff;
  text-decoration: none;
}

.experience-item ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  main.experience {
    padding: 10px;
  }

  main.experience h2 {
    font-size: 1.5em;
  }

  .experience-item h3 {
    font-size: 1.1em;
  }

  .experience-item span {
    font-size: 0.85em;
  }

  .experience-item ul {
    padding-left: 15px;
  }

  .experience-item ul li {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  main.experience {
    padding: 5px;
  }

  main.experience h2 {
    font-size: 1.2em;
  }

  .experience-item h3 {
    font-size: 1em;
  }

  .experience-item span {
    font-size: 0.8em;
  }

  .experience-item ul {
    padding-left: 10px;
  }

  .experience-item ul li {
    font-size: 0.85em;
  }
}
